/data
/model
/result
/mydataset
/mydataset_1
/mydataset_test
/temp
/centerline_data
/*.rar
/mid_result
/projectFiles/UI/__pycache__
/.idea
/projectFiles/__pycache__
/projectFiles/projectList
/mydataset_expand/
/projectFiles/models/UNet/__pycache__

